<template>
    <select 
        v-model="value" 
        @change="$emit('onChange', value)"
        class="w-full h-10 pl-3 pr-6 text-base placeholder-gray-700 border rounded-lg border-blue-300 focus:border-blue-500"
        :placeholder="label">
        <option 
            v-for="item in options"
            :key="item"
            :value="item">
                {{item}}
        </option>
    </select>
</template>

<script>
    export default {
        props: {
            selectedValue: {
                require: true
            },
            options: {
                type: Array,
                default: () => []
            },
            label: {
                type: String
            }
        },
        data() {
            return {
                value: this.selectedValue
            }
        }
    }
</script>