<template>
    <input
        :value="modelValue"
        @input="$emit('update:modelValue', $event.target.value)"
        :placeholder="label"
        type="text"
        class="w-full h-10 pl-3 pr-6 text-base placeholder-gray-700 border rounded-lg border-blue-300 focus:border-blue-500"/>
</template>

<script>
export default {
    props: {
        modelValue: {
            type: String,
            require: true
        },
        label: {
            type: String,
            default: 'Search'
        }
    },
    emits: ['update:modelValue']
}
</script>