<template>
    <div v-show="loading"
        class="fixed flex items-center inset-0 w-screen h-screen bg-gray-300 bg-opacity-50">
        <svg
            class="animate-spin h-20 w-20 mx-auto"
            viewBox="0 0 24 24">
            <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
            <path class="opacity-75" fill="currentColor" d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"></path>
        </svg>
    </div>
</template>

<script>
    import {mapState} from 'vuex'
    export default {
        computed: mapState({
            loading: state => state.loader.loading
        })
    }
</script>