<template>
    <footer class="relative text-right py-2 pr-1 mt-5 md:pr-4 bottom-0 border-t-2 border-gray-500 bg-gray-300">
        Giphy Dog {{new Date().getFullYear()}} &reg;
    </footer>
</template>
