<template>
    <header class="relative bg-gray-300">
        <div class="flex justify-between items-center border-b-2 border-gray-100 py-6 md:justify-start md:space-x-10">
            <div class="flex justify-start md:pl-4">
                <router-link :to="{name: 'gifs'}">
                    <span class="sr-only">Paw dog</span>
                    <img class="h-8 w-auto sm:h-10" src="@/assets/logo.png"/>
                </router-link>
            </div>
            <web-menu></web-menu>
            <div class="flex justify-end md:flex-1 pr-1 md:pr-4">
                <giphy-form></giphy-form>
            </div>
        </div>
    </header>
</template>

<script>
    import webMenu from './WebMenu.vue'
    import giphyForm from './../giphy/GiphyForm.vue'
    export default {
        data() {
            return {
                text: ''
            }
        },
        components: {
            webMenu,
            giphyForm
        }
    }
</script>