<template>
    <nav class="flex">
        <div class="relative text-base font-medium text-gray-500">
            <router-link
                :to="{name: 'gifs'}"
                class="hover:text-gray-900 active:text-gray-900">
                    Home
            </router-link> | 
            <router-link
                :to="{name: 'favorites'}"
                class="hover:text-gray-900 active:text-gray-900">
                    Favorites
            </router-link> | 
            <router-link
                :to="{name: 'history'}"
                class="hover:text-gray-900 active:text-gray-900">
                    History
            </router-link>
        </div>
    </nav>
</template>