<template>
    <main-layout>
        <giphy-container
            :key="containerKey"
            v-if="total != 0"
            :items="items.slice(offset, offset + itemsPerPage)"
            :total="total"
            :page="page"
            :items-per-page="itemsPerPage">
        </giphy-container>
        <div v-else
            class="py-4">
            No data found.
        </div>
    </main-layout>
</template>

<script>
    import {mapState, mapGetters, mapMutations} from 'vuex'
    import giphyContainer from '@/components/giphy/GiphyContainer.vue'
    import mainLayout from '@/layouts/Main.vue'

    export default {
        props: {
            query: {
                type: Object,
                default:() => {}
            }
        },
        date() {
            return {
                containerKey: 1
            }
        },
        computed: {
            ...mapState({
                items: state => state.giphy.favorites,
                page: state => state.pagination.page,
                itemsPerPage: state => state.pagination.itemsPerPage
            }),
            ...mapGetters({
                total: 'giphy/totalFavorites',
                offset: 'pagination/offset'
            })
        },
        mounted() {
            let page = 1, itemsPerPage = 15;
            if(this.query) {
                if(this.query.page) {
                    page = this.query.page;
                }
                if(this.query.itemsPerPage) {
                    itemsPerPage = this.query.itemsPerPage;
                }
            }
            this.setPagination({page, itemsPerPage});
            this.containerKey++;
        },
        beforeRouteUpdate(to, from, next) {
            let {page, itemsPerPage} = to.query;
            page = page || 1;
            itemsPerPage = itemsPerPage || 15;
            this.setPagination({page, itemsPerPage});
            next();
        },
        methods: mapMutations({
            setPagination: 'pagination/SET_PAGINATION',
        }),
        components: {
            giphyContainer,
            mainLayout
        }
    }
</script>