<template>
    <main-layout>
        <giphy-container
            :key="containerKey"
            v-if="total != 0"
            :items="items"
            :total="total"
            :page="page"
            :items-per-page="itemsPerPage">
        </giphy-container>
        <div v-else>
            No data found.
        </div>
    </main-layout>
</template>

<script>
    import {mapState, mapGetters, mapMutations, mapActions} from 'vuex'
    import giphyContainer from '@/components/giphy/GiphyContainer.vue'
    import mainLayout from '@/layouts/Main.vue'

    export default {
        props: {
            query: {
                type: Object,
                default:() => {}
            }
        },
        date() {
            return {
                containerKey: 1
            }
        },
        computed: {
            ...mapState({
                total: state => state.giphy.total,
                page: state => state.pagination.page,
                itemsPerPage: state => state.pagination.itemsPerPage
            }),
            ...mapGetters({
               items: 'giphy/gifs',
            })
        },
        mounted() {
            let page = 1, itemsPerPage = 15, q = '';
            if(this.query) {
                if(this.query.page) {
                    page = this.query.page;
                }
                if(this.query.itemsPerPage) {
                    itemsPerPage = this.query.itemsPerPage;
                }
                if(this.query.q) {
                    q = this.query.q;
                }
            }
            this.setPagination({page, itemsPerPage});
            this.loadGifs(q);
            this.containerKey++;
        },
        beforeRouteUpdate(to, from, next) {
            let {page, itemsPerPage, q} = to.query;
            page = page || 1;
            itemsPerPage = itemsPerPage || 15;
            this.setPagination({page, itemsPerPage});
            this.loadGifs(q);
            next();
        },
        methods: {
            ...mapMutations({
                setPagination: 'pagination/SET_PAGINATION'
            }),
            ...mapActions({
                loadGifs: 'giphy/getGifs'
            })
        },
        components: {
            giphyContainer,
            mainLayout
        }
    }
</script>