<template>
    <div class="w-full">
        <paginator
            :items-per-page="itemsPerPage"
            :total="total"
            :selected-page="page">
        </paginator>
        <div class="grid sm:grid-cols-1 md:grid-cols-5 gap-y-2 gap-x-4 lg:gap-x-10 xl:gap-x-16 2xl:gap-x-32">
            <giphy-view
                v-for="item in items"
                :key="item.id"
                :giphy="item">
                <favorite :active="item.favorite" @onClick="setFavorite(item)"></favorite>
            </giphy-view>
        </div>
    </div>
</template>

<script>
    import {mapMutations} from 'vuex'
    import paginator from './../common/Pagination.vue'
    import giphyView from './GiphyView.vue'
    import favorite from './../common/Favorite.vue'

    export default {
        props: {
            items: {
                type: Array,
                default: () => []
            },
            total: {
                type: Number,
                default: 0
            },
            page: {
                type: Number,
                default: 1
            },
            itemsPerPage: {
                type: Number,
                default: 15
            }
        },
        methods: mapMutations({
            setFavorite: 'giphy/SET_FAVORITE'
        }),
        components: {
            paginator,
            giphyView,
            favorite
        }
    }
</script>