<template>
    <div class="w-full">
        <picture>
            <source :srcset="giphy.images.original.webp" type="image/webp">
            <source :srcset="giphy.images['480w_still'].url" type="image/jpeg"> 
            <img :src="giphy.images['480w_still'].url" class="w-full h-48">
        </picture>
        <div class="w-full">
            <slot></slot>
        </div>
    </div>
</template>

<script>
export default {
    props: {
        giphy: {
            type: Object,
            require: true
        }
    }
}
</script>