<template>
    <form @submit.prevent="onSubmit" class="inline-flex w-1/5">
        <input-text label="Search" v-model="search"></input-text>
    </form>
</template>

<script>
    import inputText from './../fields/InputText.vue'
    import {mapMutations} from 'vuex'
    export default {
        data() {
            return {
                search: this.$router.query ? this.$router.query.q : ''
            }
        },
        methods: {
            onSubmit() {
                this.addHistory(this.search);
                this.$router.push({name: 'gifs', query: {q: this.search}});
            },
            ...mapMutations({
               addHistory: 'giphy/ADD_HISTORY'
            }) 
        },
        components: {
            inputText
        }
    }
</script>