<template>
    <button 
        :disabled="activeAnimation"
        class="inline-flex w-full items-center h-10 px-3 bg-transparent text-xs overflow-ellipsis text-gray-500 bg-gray-300 hover:text-gray-900 active:text-gray-900 hover:bg-gray-200 active:bg-gray-200" 
        @click="onClick">
        <svg
            :class="{
                'fill-current': true,
                'h-8': true,
                'pr-3': true,
                'transform': true,
                'duration-500': true,
                'text-yellow-300': favorite,
                'text-gray-500': !favorite,
                '-translate-y-5': activeAnimation
            }"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 20 20">
            <path d="M10 15l-5.878 3.09 1.123-6.545L.489 6.91l6.572-.955L10 0l2.939 5.955 6.572.955-4.756 4.635 1.123 6.545z"/>
        </svg>
        <span>
            Favorite
        </span>
    </button>
</template>

<script>
export default {
    props: {
        active: {
            type: Boolean,
            require: true
        }
    },
    data() {
        return {
            favorite: this.active,
            activeAnimation: false
        }
    },
    methods: {
        onClick() {
            this.activeAnimation = true;
            this.timeout = setTimeout(() => {
                this.activeAnimation = false;
                this.favorite = !this.favorite;
                this.$emit('onClick');
            }, 500);
        }
    }
}
</script>