<template>
    <div class="flex flex-wrap my-5 text-gray-700">
        <div class="flex pr-2 leading-8">Items per page:</div>
        <div class="flex w-1/5 pr-2">
            <field-select
                :selected-value="selectedItemsPerPage"
                :options="itemsPerPageValues"
                @onChange="onChangeItemsPerPage">
            </field-select>
        </div>
        <div class="flex pr-2 leading-8">
            {{`${selectedPage * selectedItemsPerPage - selectedItemsPerPage + 1}-${selectedPage * selectedItemsPerPage} of ${total}`}}
        </div>
        <ul class="inline-flex">
            <li>
                <router-link
                    :to="{path: path, query: {page: selectedPage - 1, itemsPerPage: selectedItemsPerPage, q: q}}"
                    :class="{
                        'flex items-center justify-center w-10 h-10 text-gray-500 transition-colors duration-150 rounded-full focus:shadow-outline hover:bg-gray-100 hover:text-gray-900': true,
                        'bg-gray-300 pointer-events-none': selectedPage == 1
                    }">
                    <svg class="w-4 h-4 fill-current" viewBox="0 0 20 20">
                        <path d="M12.707 5.293a1 1 0 010 1.414L9.414 10l3.293 3.293a1 1 0 01-1.414 1.414l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 0z" clip-rule="evenodd" fill-rule="evenodd"></path>
                    </svg>
                </router-link>
            </li>
            <li v-if="selectedPage > 3">
                ...
            </li>
            <li
                v-for="p in pages"
                :key="p">
                <router-link
                    v-if="p > selectedPage - limitPage && p < selectedPage + limitPage"
                    :to="{path: path, query: {page: p, itemsPerPage: itemsPerPage, q: q}}"
                    :class="{
                        'flex items-center justify-center w-10 h-10 text-gray-500 transition-colors duration-150 rounded-full focus:shadow-outline hover:bg-gray-100 hover:text-gray-900': true,
                        'bg-gray-300 pointer-events-none': selectedPage == p
                    }">
                    {{p}}
                </router-link>
            </li>
            <li v-if="selectedPage + 3 <= pages">
                ...
            </li>
            <li>
                <router-link
                    :to="{path: path, query: {page: selectedPage + 1, itemsPerPage: selectedItemsPerPage, q: q}}"
                    :class="{
                        'flex items-center justify-center w-10 h-10 text-gray-500 transition-colors duration-150 rounded-full focus:shadow-outline hover:bg-gray-100 hover:text-gray-900': true,
                        'bg-gray-300 pointer-events-none': selectedPage == pages
                    }">
                    <svg class="w-4 h-4 fill-current" viewBox="0 0 20 20">
                        <path d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd" fill-rule="evenodd"></path>
                    </svg>
                </router-link>
            </li>
        </ul>
    </div>
</template>

<script>
    import fieldSelect from './../fields/FieldSelect.vue'

    export default {
        props: {
            total: {
                type: Number,
                require: true
            },
            selectedPage: {
                type: Number,
                require: true
            },
            itemsPerPage: {
                type: Number,
                require: true
            },
            itemsPerPageValues: {
                type: Array,
                default: () => [15, 25, 50]
            }
        },
        data() {
            return {
                selectedItemsPerPage: this.itemsPerPage,
                path: this.$router.currentRoute.value.path,
                q: this.$router.query ? this.$router.query.q : undefined
            }
        },
        computed: {
            pages() {
                return Math.ceil(this.total/this.itemsPerPage);
            },
            limitPage() {
                let limitPage = 3;
                if(this.selectedPage == 1 || this.selectedPage == this.pages) {
                    limitPage = 5;
                }
                if(this.selectedPage == 2 || this.selectedPage == this.pages - 1) {
                    limitPage = 4;
                }
                return limitPage;
            }
        },
        methods: {
            onChangeItemsPerPage(value) {
                this.$router.push({path: this.path, query: {page: this.selectedPage, itemsPerPage: value, q: this.q}});
            }
        },
        components: {
            fieldSelect
        }
    }
</script>