<template>
    <div class="flex flex-nowrap overflow-ellipsis w-full py-4">
        <span class="text-gray-400">{{datetime(history.createdOn, 'dddd, Do MMMM YYYY, h:mm:ss a')}} - </span> 
        <router-link
            :to="{name: 'gifs', query: {q: history.search}}"
            class="ml-2 underline">
            {{history.search}}
        </router-link>
    </div>
</template>

<script>
import mixins from '@/utils/mixins'
export default {
    props: {
        history: {
            type: Object,
            require: true
        }
    },
    mixins: [mixins]
}
</script>