<template>
    <div class="w-full">
        <paginator
            :items-per-page="itemsPerPage"
            :total="total"
            :selected-page="page"
            :items-per-page-values="[15, 50, 100]">
        </paginator>
        <div class="w-full">
            <history-view
                v-for="item in items"
                :key="item.id"
                :history="item">
            </history-view>
        </div>
    </div>
</template>

<script>
    import paginator from '../common/Pagination.vue'
    import historyView from './HistoryView.vue'

    export default {
        props: {
            items: {
                type: Array,
                default: () => []
            },
            total: {
                type: Number,
                default: 0
            },
            page: {
                type: Number,
                default: 1
            },
            itemsPerPage: {
                type: Number,
                default: 50
            }
        },
        components: {
            paginator,
            historyView
        }
    }
</script>