<template>
    <router-view/>
</template>

<script>
    import {mapMutations} from 'vuex'
    export default {
        mounted() {
            this.getGiphyStored();
        },
        methods: {
            ...mapMutations({
                getGiphyStored: 'giphy/GET_GIPHY_STORED'
            })
        }
    }
</script>