<template>
    <div>
        <the-header></the-header>
        <main class="mx-auto md:px-4">
            <slot></slot>
        </main>
        <the-footer></the-footer>
        <loader></loader>
    </div>
</template>

<script>
    import theHeader from '@/components/layout/TheHeader.vue'
    import theFooter from '@/components/layout/TheFooter.vue'
    import loader from '@/components/layout/Loader.vue'
    export default {
        components: {
            theHeader,
            theFooter,
            loader
        }
    }
</script>